<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>animalClassifer</title>
</head>
<body>
  <h1>동물사진을 업로드해주세요</h1>
  <form action="/classification" enctype="multipart/form-data" method="get">
    <input type="file" name="attachments" multiple>
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>
</body>
</html>